<html>
<body>
  <p>Уважаемый покупатель,
  <br /></br />
  Ваш заказ был отменён.
  </p>
  <hr />
  Сводка по заказу [ОТМЕНЁН]
  <hr />
  <%= render :partial => 'shared/order_details', :locals => {:order => @order} -%>
</body>
</html>

