<html>
<body>
  <%= render :partial => 'shared/order_details', :locals => {:order => @order} -%>

  <br/>
  <% if (@order.shipping_method.name =~ /предопл/) %>
    <%= link_to 'Распечатать счёт на оплату', Spree::Config[:site_url] + url_for(:controller => :orders, :action => 'sberbank_billing', :id => @order.number), :target => '_blank' %>
  <% end %>
</body>
</html>

